body {
    background-color: #181947;
    color: white;
    font-family: Arial, sans-serif;
}

.header {
    background-color: #202060;
    padding: 20px;
}

.nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__links {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav__links li {
    display: inline;
    margin-right: 20px;
}

.nav__links li a {
    text-decoration: none;
    color: white;
}

.btn {
    background-color: #4288AA;
    border: 2px solid white;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.btn:hover {
    background-color: white;
    color: #181947;
}

.contato-container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    padding: 50px 20px;
}

.contato-container h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.contato-container p {
    font-size: 18px;
    margin-bottom: 30px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form label {
    font-size: 20px;
    margin-bottom: 10px;
}

form input[type="text"],
form input[type="email"],
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid #202060;
    border-radius: 5px;
    font-size: 16px;
}

form input[type="submit"] {
    background-color: #202060;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

form input[type="submit"]:hover {
    background-color: white;
    color: #202060;
}
